/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/
@media (max-width: 992px) {
    body{
        font-size: 62.5%;
    }
    .date-header,
    .marquee-header
    {
        display: none;
    }
}
@media (max-width: 768px) {
    .date-header,
    .marquee-header
    {
        display: none;
    }
    .title-reponsive{
        width: 50%;
    }
}
@media (max-width: 576px) {
    body{
        font-size: 40%;
    }
    .date-header,
    .marquee-header
    {
        display: none;
    }
}
